	body {
	background-color: #f3f3f3;
	font-family: "YaHei Consolas Hybrid";
}


.win4{
	width:40% !important;
}
.countdown{
	float: right;color:#aaa;
}
table{
	margin-top:10px;
}

ul {
	list-style: none;
}

fieldset {
	margin: 0;
}
pre{
	text-align: left !important; 
}
.rightBtn {
	float: right !important;
}

.win60 {
	width: 60% !important;
}

.exitBtn {
	cursor: pointer;
}

.logPanel {
	width: 330px;
	margin: 100px auto 0;
}

.navHint {
	text-align: center;
	margin: 0;
	width: 220px;
	height: 39px;
	margin-left: 38.5px;
	position: absolute;
	display: none;
}

.noteBox {
	position: relative;
}

.noteSty {
	position: absolute;
	bottom: 0;
	right: 0;
}

.operTab {
	margin-top: 30px;
}


.am-selected {
	width: 100px;
}
.operFun{
	padding-left:20px;
}
.operFun input, textarea,section {
	border: 1px solid #ccc;
	height: 100%;
	background: none;
	padding: 10px;
}
.operFun input:focus, textarea:focus {
	background: #fff;
	outline: none;
}

.operFun{
	width:1200px;
}
.serchBox{
	position: relative;
	display:inline-block;
	margin-right:100px;
}
.serchBox i{
	color: #ccc;
	position: absolute;
	top:5px;
	right:9px;
	cursor: pointer;
}
.serchBox i:hover{
	transform: scale(1.3);
	color: #009CDA;
}
.scollBox{
	overflow: scroll;
	height:600px;
	border-radius:5px !important;
}
.scollBox h4{
	border:1px solid #aaa;
	background-color: #f5f5f5;
	margin-top:2px;
	padding:5px 0 5px 50px;
	color:#0b76ac ;
	text-align: left;
}
#doc-modal{
	width:80%;
	left:33%;
}
.rspBox{
	border:1px solid #ddd;
}
.rspDivBox{
	margin:30px;
}
.rspBox span{
	color: #009CDA;
	font-size:17px;
}
.rspBox p{
	text-align: left !important;
}
.rspBox code,pre:focus{
	outline:none;
}
.bianjiBtn{
	text-align: right;
}
.bianjiBtn button{
	margin:1px;
}
#propDateShow,#depenDateShow{
	margin-top:50px ;
}
#propDateShow a{
	cursor: pointer;
}
.pageUl{
	text-align:center;
}
#propDateShowBody tr td:nth-child(2){
	text-align: left;
}
#propDateShowBody tr td:nth-child(3){
	text-align: left;
}
#propDateShowBody tr td:nth-child(4){
	text-align: left;
}
#doc-modal-rely{
	left:0 !important;
	top:0 !important;
	margin:0 !important;
}
.scollDBox{
	overflow: scroll;
}
#doc-modal-rely .am-modal-dialog{
	width:100%;
	height:800px;
	overflow: scroll;
	background:#f3f3f3 !important;
}

#doc-modal-rely input, textarea,section {
	border: 1px solid #ccc;
	height: 100%;
	background: none;
	padding: 10px;
}
#doc-modal-rely label{
	display:inline-block !important;
}
.relyTab th{
	text-align: center;
}
.addBtn{
	position: absolute;
	right:50px;
	top:15px;
	cursor: pointer;
	z-index:99;
}
#mockDateShowBody{
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pageMockUl{
	text-align: center;
}
.orderRely{
	width:30px;
}
.breadNav{
	margin-bottom:0 !important;
	font-size:15px;
}
.rspDivBox textarea{
	width:100%;
	height:300px;
	overflow-y:visible;
	resize: none;
    background-color: #f8f8f8;
    color: #555 !important;
    
}
