<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>name</display-name>    <!-- spring配置文件路径 -->



	<!-- 字符编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<!-- MVC Dispatcher -->
	<servlet>
		<servlet-name>MVC Dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring/*Beans.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVC Dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>MemcachedSessionFilter</display-name>
		<filter-name>MemcachedSessionFilter</filter-name>
		<filter-class>com.gigold.pay.framework.cache.MemcachedSessionFilter</filter-class>
		<init-param>
			<param-name>sessionId</param-name>
			<param-value>GID</param-value>
		</init-param>
		<init-param>
			<param-name>cookiePath</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>cookieAge</param-name>
			<param-value>2592000</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MemcachedSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>