<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <style type="text/css">
        table { border-collapse: collapse; }
        th,td { border: 1px solid #888; }
        .failed{background:#aa2116;color:#fff}
        .passed{background:#1d953f;color:#fff}
        .problem{background:#dea32c;color:#fff}
        .unknow{background:#46485f;color:#fff}
        .title{background:#585eaa;color:#fff}
        table,td,tr{font-size:12px;}
        td{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
        .flexJson{width:300px;}
    </style>
</head>
<body style='width:100%'>
你好 ${userName}:<br>
  
欢迎加入 独孤九剑 接口自动化测试!
<br>
当你收到这封邮件的时候，表示接口测出了问题...
<br>
<table>
    <tr class='title'>
        <td>接口id</td>
        <td>接口名</td>
        <td>测试结果</td>
        <td>接口地址</td>
        <td>访问模式</td>
        <td>关注者</td>
    </tr>

    #foreach( $mock in ${resulteMocks})
        ## 判断结果
        #if($mock.getTestResult() == '0' )
            #set($resultStyle = 'failed')
            #set($result = 'failed')
        #elseif($mock.getTestResult() == '1' )
            #set($resultStyle = 'passed')
            #set($result = 'passed')
        #elseif($mock.getTestResult() == '-1')
            #set($resultStyle = 'problem')
            #set($result = 'problem')
        #else
            #set($resultStyle = 'unknow')
            #set($result = $mock.getTestResult())
        #end

        ## 比较相等
        #if($mock.getRealRspCode() != $mock.getRspCode())
            #set($rspCodeStyle = 'problem')
        #end

        #if($mock.getResponseJson() != $mock.getRealResponseJson())
            #set($ResponseJsonStyle = 'problem')
        #end

        <tr>
            <td>$mock.getIfId()</td>
            <td title='$mock.getIfDESC()'>$!mock.getIfName()</td>
            <td class='$!{resultStyle}'>$!{result}</td>

            <td><a href='$mock.getIfURL()'>$!mock.getIfURL()</a></td>
            <td>$!mock.getIfPROTOCOL()</td>
            <td>$!mock.getUsername()</td>
        </tr>
    #end
</table>
<br>祝工作愉快!
</body>
</html>
