<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .his tr td{width:15px;height:15px;font-size: 0.5em;transition: all .05s ease;text-align:center}
    .his tr:hover{background: #d1d1d1;transition:none;}
    .his tr:hover td{background: #d1d1d1;transition:none;}
    .his tr{height:10px}
    table { border-collapse: collapse; }
    td { border: 1px solid #e8e8e8;}
    .f{background: #ff594d!important; }
    a{background: #ff594d;display: block}
    .failed{background: #ee0414 }
    .failed44{background: #ee4e5c  }
    .failed34{background: #ee966e  }
    .failed24{background: #eecf80  }
    .failed14{background: #d2ee87  }
    .passed{background: #2aff3c  }
    .normal{background:none}
    .head{background:grey;color:#fff;font-size:.5rem}
</style>
<body style='width:100%'>


你好:<br>

<p>1.最近 ${jnrCount} 批测试结果总览:</p>
<p>纵坐标:接口id,横坐标:批次(从左到右为最新)</p>
<br>
<table class='his'>
    #foreach( $ifId in $IfIDNameMap.keySet())
    <tr>
        <td class="head" style="white-space: nowrap;text-overflow: ellipsis;text-align:left;font-size:.75em;" title="$ifId,$IfIDNameMap[$ifId]">$IfIDNameMap[$ifId]</td>
        #foreach( $JNR in $OrderedHeadJNRSet)

            #set( $passRate = $initedDataSet[$JNR].get($ifId).get("ifPassRate") )
            #set($passStyle = 'normal')

            #if($initedDataSet[$JNR].get($ifId).get("ifPassRate"))
                #if($passRate == 1)
                    #set($passStyle = 'passed')
                #end

                #if($passRate < 1)
                    #set($passStyle = 'failed14')
                #end

                #if($passRate < 0.75)
                    #set($passStyle = 'failed24')
                #end

                #if($passRate < 0.5)
                    #set($passStyle = 'failed34')
                #end

                #if($passRate < 0.25)
                    #set($passStyle = 'failed44')
                #end

                #if($passRate <=0)
                    #set($passStyle = 'failed')
                #end

            #else
                #set($passStyle = 'normal')
            #end


            <td class="$passStyle" title="$ifId&#10;$IfIDNameMap[$ifId]&#10;总共 $!initedDataSet[$JNR].get($ifId).get("ifTestData").size() 条测试数据&#10;单接口通过率:$!initedDataSet[$JNR].get($ifId).get("ifPassRate")">$!initedDataSet[$JNR].get($ifId).get("ifTestData").size()</td>
        #end
       <td class="head" style="width:40px;text-align:right;font-size:.75em;"> $!IfIDDsnrMap[$ifId] </td>
    </tr>
    #end
    <tr>
        <td class="head" style="font-size:.75em;" title="批次号">批次</td>
        #foreach( $JNR in $OrderedHeadJNRSet)
            <td class="head" style="font-size:.75em;" title="$!JNR.substring(0,4)-$!JNR.substring(4,6)-$!JNR.substring(6,8)&#10;$!JNR.substring(8,10):$!JNR.substring(10,12):$!JNR.substring(12,14)">$!JNR.substring(8,10)</td>
        #end
        <td class="head"></td>
    </tr>
</table>

<p>2.其他指标</p>
<br>测试接口数:${ifCount}
<br>测试用例数:${caseCount}
<br>测试通过率(最新):${mockPassRate} %
<br>测试覆盖率覆盖率(最新): --
<br>测试覆盖率覆盖率(总体): --

<br>祝工作愉快!
</body>
</html>