<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .his tr td{width:15px;height:15px;font-size: 0.5em;transition: all .05s ease;text-align:center}
    .his tr:hover{background: #d1d1d1;transition:none;}
    .his tr:hover td{background: #d1d1d1;transition:none;}
    .his tr{height:10px}
    table { border-collapse: collapse; }
    td { border: 1px solid #e8e8e8;}
    .f{background: #ff594d!important; }
    a{background: #ff594d;display: block}
    .passed{background:#7CFC00}
    .failed{background:#EE2C2C}
    .normal{background:none}
    .head{background:grey;color:#fff;font-size:.5rem}
</style>
<body style='width:100%'>


你好 ${userName}:<br>
  
欢迎加入 独孤九剑 接口自动化测试!
<br>
当你收到这封邮件的时候，表示接口测出了问题...

<p>1.最近 40 批测试结果总览:</p>
<p>纵坐标:接口id,横坐标:批次(从左到右为最新)</p>
<br>
<table class='his'>
    #foreach( $ifId in $IfIDNameMap.keySet())
    <tr>
        <td class="head" style="white-space: nowrap;text-overflow: ellipsis;text-align:left;font-size:.75em;" title="$ifId,$IfIDNameMap[$ifId]">$ifId</td>
        #foreach( $JNR in $OrderedHeadJNRSet)

            #set( $passRate = $initedDataSet[$JNR].get($ifId).get("ifPassRate") )
            #set($passStyle = 'normal')

            #if($initedDataSet[$JNR].get($ifId).get("ifPassRate"))
                #if($passRate < 1)
                    #set($passStyle = 'failed')
                #elseif($passRate == 1)
                    #set($passStyle = 'passed')
                #else
                    #set($passStyle = 'normal')
                #end
            #else
                #set($passStyle = 'normal')
            #end


            <td class="$passStyle" title="$ifId,$IfIDNameMap[$ifId],\n 总共 $!initedDataSet[$JNR].get($ifId).get("ifTestData").size() 条测试数据">$!initedDataSet[$JNR].get($ifId).get("ifTestData").size()</td>
        #end
    </tr>
    #end
    <tr>
        <td class="head" style="font-size:.75em;" title="批次号">批次</td>
        #foreach( $JNR in $OrderedHeadJNRSet)
            <td class="head" style="font-size:.75em;" title="$JNR">*</td>
        #end
    </tr>
</table>

<p>2.其他指标</p>
<br>测试接口数:${ifCount}
<br>测试用例数:${caseCount}
<br>测试通过率(最新):${mockPassRate} %
<br>测试覆盖率覆盖率(最新): --
<br>测试覆盖率覆盖率(总体): --

<br>祝工作愉快!
</body>
</html>